/* if there is padding, no change for box width */
* {
  box-sizing: border-box;
}

body{
	background-color: #e8e8e8;
	margin :0;
}

@font-face{
	font-family:vogue;
	src:url('../../assets/fonts/Vogue.ttf');
}

@font-face{
	font-family:sansation;
	src:url('../../assets/fonts/Sansation_Regular.ttf');
}

@font-face{
	font-family:raleway;
	src:url('../../assets/fonts/Raleway-Regular.ttf');
}


/* Add a black background color to the top navigation */
.navbar {
  background-color: white;
  overflow: hidden;
  position: fixed;
  top:0;
  width: 100%;

}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Lato;
  font-weight: bold;
}


#right{
  float:right;
}

#brand{
	pointer-events: none;
	font-weight: bold;
  font-style: italic;
  font-family:Vogue;
  ;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
  }

@media only screen and (hover: none) and (pointer: coarse) {
  .navbar a{
    font-size: 3vw;
  }
}

.row::after{
  content:"";
  clear: both;
  display: table;
}

[class*="col-"] {
  float:left;
  padding: 15px;
}


.col-1 {
  width: 25%
}

.menu ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  height:150px;
  background-color: #f2a07b;
  color: #000000;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-align: left;

}

.home-body {
  font-family: Lato;
  margin-left: 100px;
  margin-right: 100px;
}
#hello {
  font-size: 14px;
  float:left;
  padding: 15px;
  width: 50%;
}

#view-all-choco {
  font-size: 14px;
  float:right;
  padding:15px;
  width: 50%;
  text-align: right;
}