

.title{
	font-family: vogue;
	font-size: 4vw;
	text-align: center;
	padding-top: 6%;
	padding-bottom: 4%;
}



.form{
	margin :0 25%;
	width: 40vw;
	padding:5% 5%;
	background-color:white;
	box-shadow: 5px 5px 10px #373a40;
	font-family: "Times New Roman";
	font-size:1.5vw;	

}

.info{
	padding:1% 0 3% 0;
	font-size: 0.9vw;
	color:#cdc9c3;
	font-weight: bold;
}


.warning{
	font-size:1vw;
	color:red;
}

input[type=text],input[type=password]{
	width: 90%;
}

input[type=text] .available{
	border:red;
}
input[type=submit]{
	font-family:"Times New Roman";
	background-color:#f2a07b;
	border:none;
	height:auto;
	width: 25%;
	padding:2% 0;
	border-radius: 5px;
	font-size: 1.2vw;

}

input[type=submit]:hover{
	opacity: 0.8;
}

div a {
	text-decoration: none;
	color:gray;
	font-size:1.1vw;
}

div a:hover{
	color:black;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
